<div ng-include="main.menuTemplate.url"></div>

<div class="container" ng-controller="MenuCtrl as menu">

        <div class=""  id="div_ver_articulos" ng-repeat="libro in main.libros"><!--*********aquí se cargan los articulos**************-->
      
          <div class="col-md-6 col-xs-11" >
            <div class="thumbnail thumbnail_ver row" >            
                <div id="" class="col-xs-13">
                 
                    <img src="{{libro.ruta_imagen}}" class="img-responsive img-rounded imagen_ver""> 
                 
                </div>

                <div id="{{libro.id}}" class="scroll caption caption_ver" >
                    <div class="col-xs-13" >
                      <h3 class="titulo_cuadro_articulo">{{libro.nombre}}</h3>
                    </div>

                    <div class="col-xs-13 row" >
                      <p id="parrafo_articulo" class="parrafo_articulo">{{libro.resumen}}</p>
                      
                        <div class="col-xs-6 list-group-item">
                          <strong>Autor : </strong> <p>{{libro.autor}}</p>
                        </div>

                        <div class="col-xs-6 list-group-item">
                          <strong>Précio : </strong> <p>{{libro.precio}}</p>
                        </div>

                    </div>
                </div><!--cierre caption-->
            
                <div class="">                
                  <a ng-if="menu.isLogin" ng-click ="main.comprar(libro.id, menu.user.email)" class="btn boton_enviar_articulo enlace_modal">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Comprar
                  </a>     
                  <a ng-if="!menu.isLogin" href="#/login" ng-click ="main.error()" class="btn boton_enviar_articulo enlace_modal">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Comprar
                  </a>             
                  <a class="btn btn-default">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>          
                  </a>        
                  <a class="btn btn-default">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>          
                  </a>
                </div>

            </div>
          </div>
      </div>

 
</div>